In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Resources/aviation.csv",encoding='latin1')
data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,12/31/2019,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020
1,20191231X83852,Accident,CEN20FA049,12/31/2019,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Johnson County Executive,...,Personal,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,8/1/2020
2,20200102X54844,Accident,ANC20CA011,12/31/2019,"Fairbanks, AK",United States,64.666945,-148.133334,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Preliminary,2/1/2020
3,20191230X91852,Accident,CEN20CA048,12/30/2019,"GRANBURY, TX",United States,32.365556,-97.645000,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,31/12/2019
4,20191228X62945,NaN,WPR20CA053,12/28/2019,"Missoula, MT",United States,NaN,NaN,MSO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,3/1/2020

In [3]:
aviation_data = data[['Event.Date', 'Country', 'Location', 'Make', 'Model','Amateur.Built', 'Injury.Severity', 'Aircraft.Damage' ,'Latitude', 'Longitude' ]]
aviation_data.head()

,Event.Date,Country,Location,Make,Model,Amateur.Built,Injury.Severity,Aircraft.Damage,Latitude,Longitude
0,12/31/2019,United States,"Elk, CA",Cessna,175,No,Non-Fatal,Substantial,39.128611,-123.715833
1,12/31/2019,United States,"OLATHE, KS",Mooney,M20S,No,Fatal(2),Destroyed,38.846111,-94.736111
2,12/31/2019,United States,"Fairbanks, AK",Cessna,170,No,Non-Fatal,Substantial,64.666945,-148.133334
3,12/30/2019,United States,"GRANBURY, TX",Vans,RV 10,Yes,Non-Fatal,Substantial,32.365556,-97.645000
4,12/28/2019,United States,"Missoula, MT",Cessna,170,No,Unavailable,Substantial,NaN,NaN

In [4]:
us_data = aviation_data[aviation_data['Country']=='United States']
us_data = us_data.dropna()
us_data_pro = us_data[us_data['Amateur.Built'] == 'No']
us_data_clean = us_data_pro.drop('Amateur.Built', 1)
us_data_clean.head()

,Event.Date,Country,Location,Make,Model,Injury.Severity,Aircraft.Damage,Latitude,Longitude
0,12/31/2019,United States,"Elk, CA",Cessna,175,Non-Fatal,Substantial,39.128611,-123.715833
1,12/31/2019,United States,"OLATHE, KS",Mooney,M20S,Fatal(2),Destroyed,38.846111,-94.736111
2,12/31/2019,United States,"Fairbanks, AK",Cessna,170,Non-Fatal,Substantial,64.666945,-148.133334
5,12/28/2019,United States,"LAFAYETTE, LA",Piper,PA 31T,Fatal(5),Destroyed,30.176111,-92.007500
6,12/25/2019,United States,"Headland, AL",Bell,407,Fatal(1),Substantial,31.364167,-85.312500

In [5]:
print(us_data[us_data['Location'] == 'LAFAYETTE, LA'])

   Event.Date        Country       Location   Make   Model Amateur.Built  \
5  12/28/2019  United States  LAFAYETTE, LA  Piper  PA 31T            No

  Injury.Severity Aircraft.Damage   Latitude  Longitude
5        Fatal(5)       Destroyed  30.176111   -92.0075

In [6]:
aviation_renamed = us_data_clean.rename(columns={ 'Event.Date': 'Date', 'Location':'City_State','Injury.Severity': 'Injury_Severity', 'Aircraft.Damage':'Aircraft_Damage'  })

In [7]:
aviation_renamed['Make']=aviation_renamed['Make'].str.lower()
aviation_renamed=aviation_renamed.reset_index(drop=True)

Make=aviation_renamed['Make'].value_counts()
Make=pd.DataFrame(Make)
Make=Make.reset_index(drop=False).rename(columns={'index':'Make', 'Make': 'count'})
Make.to_csv('Resources/Make.csv')

In [8]:
a=0
for i in range(len(aviation_renamed['Make'])):
    if 'cessna' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='cessna'
        a=a+1
    if 'piper' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='piper'
        a=a+1
    if 'robinson' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='robinson'
        a=a+1
    if 'cirrus' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='cirrus'
        a=a+1
    if 'airbus' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='airbus'
        a=a+1
    if 'raytheon' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='raytheon'
        a=a+1
    if 'grumman' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='grumman'
        a=a+1
    if 'mooney' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='mooney'
        a=a+1
    if 'diamond' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='diamond'
        a=a+1
    if 'beech' in aviation_renamed['Make'][i]:
        aviation_renamed['Make'][i]='beechcraft'
        a=a+1
Make=aviation_renamed['Make'].value_counts()
Make=pd.DataFrame(Make)
Make=Make.reset_index(drop=False).rename(columns={'index':'Make', 'Make': 'count'})
Make.to_csv('Resources/Make.csv')
a

15665

In [10]:
aviation_renamed['Make and Model'] = aviation_renamed['Make'] + ' ' + aviation_renamed['Model']
aviation_renamed['Make and Model'] = aviation_renamed['Make and Model'].str.lower()
aviation_renamed.head()

,Date,Country,City_State,Make,Model,Injury_Severity,Aircraft_Damage,Latitude,Longitude,Make and Model
0,12/31/2019,United States,"Elk, CA",cessna,175,Non-Fatal,Substantial,39.128611,-123.715833,cessna 175
1,12/31/2019,United States,"OLATHE, KS",mooney,M20S,Fatal(2),Destroyed,38.846111,-94.736111,mooney m20s
2,12/31/2019,United States,"Fairbanks, AK",cessna,170,Non-Fatal,Substantial,64.666945,-148.133334,cessna 170
3,12/28/2019,United States,"LAFAYETTE, LA",piper,PA 31T,Fatal(5),Destroyed,30.176111,-92.007500,piper pa 31t
4,12/25/2019,United States,"Headland, AL",bell,407,Fatal(1),Substantial,31.364167,-85.312500,bell 407

In [11]:
aviation_renamed.to_csv('Resources/aviation_renamed.csv')