In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Resources/weather_raw.csv')
data.head()

,Unnamed: 0,Date,Latitude,Longitude,Incident ID,Temperature,Max Temperature,Wind Speed,Visibility,Precipitation,Humidity,Conditions,Cloudcover
0,0,2019-12-31T00:00:00-08:00,39.128611,-123.715833,0.0,48.8,58.2,5.2,7.6,0.00,71.77,Clear,14.1
1,0,2019-12-31T00:00:00-06:00,38.846111,-94.736111,1.0,33.7,42.2,13.9,9.9,0.00,59.91,Clear,0.0
2,0,2019-12-31T00:00:00-09:00,64.666945,-148.133334,2.0,-3.0,-0.3,4.5,9.3,0.00,76.68,Partially cloudy,74.6
3,0,2019-12-28T00:00:00-06:00,30.176111,-92.007500,3.0,68.9,76.0,12.8,5.5,0.09,92.13,"Rain, Overcast",89.9
4,0,2019-12-25T00:00:00-06:00,31.364167,-85.312500,4.0,60.2,72.0,10.3,9.9,0.00,66.30,Clear,0.0

In [3]:
data=data.drop('Unnamed: 0', axis=1)
data.head()

,Date,Latitude,Longitude,Incident ID,Temperature,Max Temperature,Wind Speed,Visibility,Precipitation,Humidity,Conditions,Cloudcover
0,2019-12-31T00:00:00-08:00,39.128611,-123.715833,0.0,48.8,58.2,5.2,7.6,0.00,71.77,Clear,14.1
1,2019-12-31T00:00:00-06:00,38.846111,-94.736111,1.0,33.7,42.2,13.9,9.9,0.00,59.91,Clear,0.0
2,2019-12-31T00:00:00-09:00,64.666945,-148.133334,2.0,-3.0,-0.3,4.5,9.3,0.00,76.68,Partially cloudy,74.6
3,2019-12-28T00:00:00-06:00,30.176111,-92.007500,3.0,68.9,76.0,12.8,5.5,0.09,92.13,"Rain, Overcast",89.9
4,2019-12-25T00:00:00-06:00,31.364167,-85.312500,4.0,60.2,72.0,10.3,9.9,0.00,66.30,Clear,0.0

In [10]:
data=data.astype({'Incident ID':int})

In [11]:
data.to_csv('Resources/Weather_Final.csv')